<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://liciafa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1da6a4de-13d0-4d19-8931-953f65c89933/resourceGroups/liciafa_group/providers/Microsoft.Web/sites/liciafa</ResourceId>
    <UserName>$liciafa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://liciafa.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6eZ23fu6JE69Hv+Al3sgLgAAAAACAAAAAAAQZgAAAAEAACAAAADSJsLwoZTjoXeUyCVfuiRXs2v0gwYi2svGww6D/jLufQAAAAAOgAAAAAIAACAAAACjD3/KdmnLtBTdwHu20tkYyuuFwKdTz00HY2Q86Ixl3qAAAAD7FLRVm7kSbsZ1W3G46Yvg06W5BhsFKghQ5dYaRvQliESFOKpJgYSrOJjVSJ9DRtTxgMr2KNXDTsfNJKCy6Iq0rxOeCTqiT/bInlgKBxKTQqJyFNPilhI5yeuN6/VawvQyQPXEAlAWO3SXgOfe6xSAByeNm3t3MyKNpsQKb1/6UoR4HngPFSDmeWJtX48wba9lTfm6Ip+SFSQQraXDH+MxQAAAANWtFRcIfNeAS1ZZWcjF+MWrQZnaspDII7snB3vO5GUi6Lae5ryUz6IW8dVjtB+NMzvkkXGm/DqWIfN4ne2wqLk=</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>